# TODO: copy this to application.properties in this folder and set the credentials for your database. Make sure Git is ignoring the file.
# This should be used only for credentials and other local-only config.
spring.jpa.hibernate.ddl-auto=update
spring.datasource.url = jdbc:mysql://${MYSQL_HOST:localhost}:3306/db_example
spring.datasource.username =
spring.datasource.password =