# TODO: copy this to application.properties in this folder and set the credentials for your database. Make sure Git is ignoring the file.
# This should be used only for credentials and other local-only config.
# For production configuration, edit the application.properties file in the src/main/resources folder.

#### DATABASE ####

# Database connection to your local Postgres database:

# Replace the values in curly braces with the name you gave your database,
# the user you assigned to it with all privileges, and that user's password.
DATASOURCE_URL=jdbc:postgresql://localhost:5432/{db_example}
SPRING_DATASOURCE_USERNAME={your_username}
SPRING_DATASOURCE_PASSWORD={your_password}

# Initialising your database:

# Upon starting this project for the first time, uncomment the setting below.
# Afterwards, comment it out again, or it will give you errors.
# It is there to enable the data.sql script to run, which is only required once when the database is first initialised.
#spring.datasource.initialization-mode=always

#### PORT ####

# The port in the development environment is usually 8080, but you can adapt it here if you need to:
PORT=8080

#### GIT ####

# Make sure you tell git to ignore this file, by pasting the following two lines into your .gitginore
# file and removing them from here. Otherwise, everyone will have access to your credentials.
#/config/*
#!/config/*.example